@using ZayShop.Areas.Admin.Models.Product
@model ProductIndexVM
@if (Model.Products.Count != 0)
{
	<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
		<thead>
			<tr>
				<th class="text-success">Photo</th>
				<th class="text-info">Title</th>
				<th class="text-dark">Sizes</th>
				<th class="text-danger">Price</th>
				<th class="text-danger">Category</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			
			  @foreach (var product in Model.Products)
				{
					<tr>
					<td class="text-gray-500 w-25"><img style="width:50%; transform:translateX(80px); height:100px; border-radius:5px; object-fit:cover" src="@product.PhotoPath" title="Photo" /></td>
					<td class="text-gray-500">@product.Title</td>
					<td class="text-gray-500">@product.Size</td>
					<td class="text-gray-500">$@product.Price</td>
					<td class="text-gray-500">@product.Category.Name</td> 
					<td class="text-gray-500 text-center " style="transform:translateY(20px);">
						<a class="btn btn-primary" asp-controller="Product" asp-action="Update" asp-route-id="@product.Id">Update</a>
						<form class="d-inline"  method="post"  asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">
							<button type="submit" class="btn btn-outline-danger">Delete</button>
						</form>

					</td>
					</tr>
				}
			
		</tbody>
	</table>
}
else
{
	<h1 class="text-center text-danger"> NOT FOUND ANY PRODUCT</h1>
}